language: c++
sudo: required
env:
  global:
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    #   via the "travis encrypt" command using the project repo's public key
    - secure: "H+ONukz4E3oXogtrrUJ6TDYv/ReKRqb1kJLkNHmfjlDcekz3gVXdiivMTO8vmT3hn1AFRpcKHgia+BXr8O6FZnws1FBXpKIXXWK8KXGbr/k4uiwB01HOseQL6lDDTC0aqsAotP4RUEn+O0Vj5vNjCnc4+YLIhQfbapnI9YdST8jzYyj+xCZI9rcx33D+fAY+6sAC5ztkPrgUpInuT3FbbxYAG+ewkjp+L63IfmXWhCFRDANzhrPHPRqEoqcsh1Dpl2W26HgRe3BF+Y4dhl8dWMGZcdv7Jw0aPraSwAOjeeSd5mjsagvSBqL38+cSJfOTxGqs5jFzpY3/kvhIjIA1hkuepe0gCbeAyyQUBHjuZwHOSkuL6abFR2cDATtPgZxxlCBrE5QFbK96tsVJ4v0joWueyz7pGk2G8nmWCYve9CIulZHm7Cr6FsJxTlrxunhC/UBzx5QazXSjOTvMLzhIa1AnxcK9vxFivgcLS+ORnJ3/rO50WGomIwi57Tntb1jrLxvIgvoR8GArI/oBXlDPpO8tXIr1YxYhcS2zqwgth5COoA25Wnck/jsQuarFCH47G5Epe8lGSY8g8M9qCM8iZ1/MPM6Hk8NdmPe0+HQPuPWsX0eHniLUr28+WOfooVNyTZjKzb+2jhjFU8pkcd7l92q9ImdJ37FA6oo8jXLUYjc="


matrix:
  include:

   # ###### Ubuntu Linux ####################################################

   # ====== Ubuntu 19.04 (Disco Dingo) ======================================
   - name: "Ubuntu 19.04 (Disco Dingo) with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:disco" VARIANT="ubuntu" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Ubuntu 19.04 (Disco Dingo) with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:disco" VARIANT="ubuntu" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Ubuntu 19.04 (Disco Dingo) packaging with pbuilder"
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:disco" VARIANT="ubuntu" TOOL="pbuilder"

   # ====== Ubuntu 18.10 (Cosmic Cuttlefish) ================================
   - name: "Ubuntu 18.10 (Cosmic Cuttlefish) with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:cosmic" VARIANT="ubuntu" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Ubuntu 18.10 (Cosmic Cuttlefish) with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:cosmic" VARIANT="ubuntu" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Ubuntu 18.10 (Cosmic Cuttlefish) packaging with pbuilder"
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:cosmic" VARIANT="ubuntu" TOOL="pbuilder"

   # ====== Ubuntu 18.04 (Bionic Beaver) ====================================
   - name: "Ubuntu 18.04 (Bionic Beaver) with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:bionic" VARIANT="ubuntu" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Ubuntu 18.04 (Bionic Beaver) with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:bionic" VARIANT="ubuntu" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Ubuntu 18.04 (Bionic Beaver) packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:bionic" VARIANT="ubuntu" TOOL="pbuilder"

   # ====== Ubuntu 16.04 (Xenial Xerus) =====================================
   - name: "Ubuntu 16.04 (Xenial Xerus) with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:xenial" VARIANT="ubuntu" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Ubuntu 16.04 (Xenial Xerus) with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:xenial" VARIANT="ubuntu" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Ubuntu 16.04 (Xenial Xerus) packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:xenial" VARIANT="ubuntu" TOOL="pbuilder"

   # ====== Ubuntu 14.04 (Trusty Tahr) ======================================
   - name: "Ubuntu 14.04 (Trusty Tahr) with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:trusty" VARIANT="ubuntu" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Ubuntu 14.04 (Trusty Tahr) with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:trusty" VARIANT="ubuntu" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Ubuntu 14.04 (Trusty Tahr) packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="ubuntu:trusty" VARIANT="ubuntu" TOOL="pbuilder"


    # ###### Debian Linux ###################################################

    # ====== Debian Testing =================================================
   - name: "Debian Testing with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:testing" VARIANT="debian" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Debian Testing with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:testing" VARIANT="debian" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Debian Testing packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:testing" VARIANT="debian" TOOL="pbuilder"

   # ====== Debian Sid ======================================================
   - name: "Debian Sid with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:sid" VARIANT="debian" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Debian Sid with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:sid" VARIANT="debian" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Debian Sid packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:sid" VARIANT="debian" TOOL="pbuilder"

   # ====== Debian Buster ===================================================
   - name: "Debian Buster with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:buster" VARIANT="debian" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Debian Buster with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:buster" VARIANT="debian" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Debian Buster packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:buster" VARIANT="debian" TOOL="pbuilder"

   # ====== Debian Stretch ==================================================
   - name: "Debian Stretch with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:stretch" VARIANT="debian" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Debian Stretch with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:stretch" VARIANT="debian" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Debian Stretch packaging with pbuilder"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="debian:stretch" VARIANT="debian" TOOL="pbuilder"


   # ###### Fedora Linux ###################################################

   # ====== Fedora 30 =======================================================
   - name: "Fedora 30 with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:30" VARIANT="fedora" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Fedora 30 with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:30" VARIANT="fedora" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Fedora 30 packaging with mock"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:30" VARIANT="fedora" TOOL="mock"

   # ====== Fedora 29 =======================================================
   - name: "Fedora 29 with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:29" VARIANT="fedora" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Fedora 29 with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:29" VARIANT="fedora" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Fedora 29 packaging with mock"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:29" VARIANT="fedora" TOOL="mock"

   # ====== Fedora 28 =======================================================
   - name: "Fedora 28 with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:28" VARIANT="fedora" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Fedora 28 with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:28" VARIANT="fedora" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Fedora 28 packaging with mock"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:28" VARIANT="fedora" TOOL="mock"

   # ====== Fedora Rawhide ==================================================
   - name: "Fedora Rawhide with GCC"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:rawhide" VARIANT="fedora" TOOL="compile" COMPILER_C="gcc" COMPILER_CXX="g++"
   - name: "Fedora Rawhide with Clang"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:rawhide" VARIANT="fedora" TOOL="compile" COMPILER_C="clang" COMPILER_CXX="clang++"
   - name: "Fedora Rawhide packaging with mock"
     os: linux
     dist: xenial
     group: travis_latest
     env: DOCKER="fedora:rawhide" VARIANT="fedora" TOOL="mock"


   # ###### Other ###########################################################

   # ====== MacOS X =========================================================
   # - name: "MacOS X"
   #   os: osx
   #   osx_image: xcode9.4
   #   compiler: clang
   #   group: travis_latest


   # ###### Special #########################################################

   - name: "Default Build"
     os: linux
     dist: xenial
     group: travis_latest
     env: TOOL="compile"

   - name: "Coverity Scan"
     os: linux
     dist: xenial
     group: travis_latest
     env:
      - TOOL="coverity"
      - VARIANT="ubuntu"
      - COVERITY_PROJECT="dreibh%2Frsplib"
      - COVERITY_SCAN_NOTIFICATION_EMAIL="dreibh@simula.no"
      - COVERITY_SCAN_BRANCH="coverity_scan"


before_install:
  - |
    travis_wait 60 ci/before-install

install:
  - |
    travis_wait 60 ci/install

script:
  - |
    ci/build && travis_wait 60 ci/test
