Source: rsplib
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Build-Depends: debhelper (>= 5), autotools-dev, libsctp-dev (>= 1.0.6), libbz2-dev (>= 1.0), libqt3-mt-dev
Standards-Version: 3.7.2


Package: librsplib2
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the core library.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: librsplib-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librsplib2
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the development files for the
 core library.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: libcpprspserver2
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains a C++ library for pool elements.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: libcpprspserver-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcpprspserver2
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the development files for the
 C++ library for pool elements.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: rsplib-registrar
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the registrar.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: rsplib-tools
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains an example pool elements and pool
 users as well as some test tools.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: rsplib-fgpservice
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsplib-tools
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the Fractal Generator example
 service.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: rsplib-pingpongservice
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsplib-tools
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the PingPong example service.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: rsplib-calcappservice
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsplib-tools
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the CalcApp performance test
 service.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html


Package: rsplib-scriptingservice
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsplib-tools
Description: rsplib is the Open Source implementation of the IETF Reliable
 Server Pooling (RSerPool) architecture, a novel framework for pool and
 session management. This package contains the Scripting
 service.
 .
 The Reliable Server Pooling (RSerPool) architecture which is currently under
 standardization by the IETF RSerPool WG is an overlay network framework to
 provide server replication and session failover capabilities to its
 applications. Server redundancy leads to load distribution and load balancing,
 which are also covered by RSerPool. But in strong contrast to  other solutions
 in the area of GRID and high-performance computing, the  fundamental property
 of RSerPool is to be "lightweight", i.e. it can be used on devices providing
 only meagre memory and CPU resources (e.g. embedded systems like
 telecommunications equipment or routers). This property restricts the RSerPool
 architecture to the management of only pools and sessions (no data
 synchronization, user management, etc.), but on the other hand makes a very
 efficient realization possible.
 .
 Homepage: http://tdrwww.exp-math.uni-essen.de/dreibholz/rserpool/index.html
