#!/bin/bash
# Thomas Dreibholz's PlanetLab Script Collection
# Copyright (C) 2005-2020 by Thomas Dreibholz, dreibh@iem.uni-due.de
#
# $Id$
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
#
# Contact: dreibh@iem.uni-due.de

if [ $# -lt 1 ] ; then
   echo >&2 "Usage: ComponentControl.config [PR|PE|PU] {Arguments ...}"
   exit 1
fi

# IMPORTANT:
# All arguments of this script must be shifted away; ComponentControl expects
# its own arguments only! For "restart", ComponentControl needs the
# shifted-away arguments. Therefore, they are stored in CC_CONFIGMISCARGS.
CC_COMPONENT=$1
CC_CONFIGMISCARGS=$1
shift


# ====== Base configuration =================================================
SYSTEM_CSPOPT=""
SYSTEM_PR_ASAP_PORT="9500"
SYSTEM_PR_ENRP_PORT="9501"
SYSTEM_PRLIST_ASAP=
SYSTEM_PRLIST_ENRP=
SYSTEM_PR_MISCOPT="-disable-ipv6"
SYSTEM_PR_ASAP_UNICAST="[0.0.0.0]:$SYSTEM_PR_ASAP_PORT"
SYSTEM_PR_ASAP_ANNOUNCE="off"
SYSTEM_PR_ENRP_UNICAST="[0.0.0.0]:$SYSTEM_PR_ENRP_PORT"
SYSTEM_PR_ENRP_MULTICAST="off"


# ====== Set base directories and parameters ================================
CC_BASEDIR="$HOME/src"
if [ ! -e $CC_BASEDIR ] ; then
   echo >&2 "ERROR: Base directory $CC_BASEDIR does not exist!"
fi

CC_PROGRAM_DIRECTORY="$CC_BASEDIR/rsplib2/rsplib"
CC_PID_DIRECTORY="$CC_BASEDIR/rsplib2/rsplib/output"
CC_OUTPUT_DIRECTORY="$CC_BASEDIR/rsplib2/rsplib/output"

SYSTEM_PROPT=""
for pr in $SYSTEM_PRLIST_ASAP ; do
   SYSTEM_PROPT="$SYSTEM_PROPT -registrar=$pr"
done
SYSTEM_PEEROPT=""
for pr in $SYSTEM_PRLIST_ENRP ; do
   SYSTEM_PEEROPT="$SYSTEM_PEEROPT -peer=$pr"
done

hasSCTP="`lsmod | grep sctp`"
if [ "x$hasSCTP" = "x" ] ; then
   CC_PRESTART="$CC_PROGRAM_DIRECTORY/rootshell"
else
   CC_PRESTART=""
fi


# ====== Pool Element Setup =================================================
if [ "x$CC_COMPONENT" = "xPE" ] ; then
   CC_PROGRAM="server"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!

   CC_ARGS="-loglevel=5 -logcolor=off \
   -poolhandle=TestPool \
   -asapannounce=$SYSTEM_PR_ASAP_ANNOUNCE \
   $SYSTEM_CSPOPT $SYSTEM_PROPT"

# ====== Pool User Setup ====================================================
elif [ "x$CC_COMPONENT" = "xPU" ] ; then
   CC_PROGRAM="hrestest"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!

   CC_ARGS="-loglevel=5 -logcolor=off \
   -poolhandle=TestPool \
   -asapannounce=$SYSTEM_PR_ASAP_ANNOUNCE \
   $SYSTEM_CSPOPT $SYSTEM_PROPT"

# ====== Registrar Setup ====================================================
elif [ "x$CC_COMPONENT" = "xPR" ] ; then
   CC_PROGRAM="registrar"
   CC_LOGARGS="-logfile="   # The file name will be appended immediately!

   CC_ARGS="-loglevel=5 -logcolor=off \
   -asap=$SYSTEM_PR_ASAP_UNICAST -asapannounce=$SYSTEM_PR_ASAP_ANNOUNCE \
   -enrp=$SYSTEM_PR_ENRP_UNICAST -enrpmulticast=$SYSTEM_PR_ENRP_MULTICAST \
   -maxbadpereports=99999999 \
   $SYSTEM_PR_MISCOPT \
   $SYSTEM_CSPOPT $SYSTEM_PEEROPT"

# ====== Bad setting ========================================================
else
   echo >&2 "ERROR: Bad component name \"$CC_COMPONENT\"!"
   exit 1
fi
